Repository envelope-budget/backend: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier, black, djlint

biome:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

prettier:
  run: 'npx prettier --write {staged_files}
  
    git add {staged_files}
  
    '

black:
  run: 'black {staged_files}
  
    git add {staged_files}
  
    '

djlint:
  run: 'djlint --reformat {staged_files}
  
    git add {staged_files}
  
    '

feat: enhance payee management with cleaning and UI improvements
  transactions/apis.py
  transactions/static/transactions/js/payees.js
  transactions/templates/transactions/_payee_modal.html
  transactions/templates/transactions/payees.html
Due: biome, prettier, black, djlint

feat: add clear search button to payee search
  transactions/static/transactions/js/payees.js
  transactions/templates/transactions/payees.html
Due: biome, prettier, djlint

feat: implement payee merging functionality
  transactions/apis.py
  transactions/static/transactions/js/payees.js
  transactions/templates/transactions/payees.html
Due: biome, prettier, black, djlint

refactor: remove redundant heading from payees template
  transactions/templates/transactions/payees.html
Due: biome, prettier, djlint

feat: integrate Plaid for automatic transaction import
  accounts/migrations/0008_account_plaid_access_token_account_plaid_account_id_and_more.py
  accounts/models.py
  accounts/templates/accounts/_add_plaid.html
  accounts/views.py
  budgetapp/settings.py
  envelopes/static/envelopes/js/envelopes.js
  requirements.in
  requirements.txt
  static/js/base.js
  templates/base.html
  test_plaid.py
  transactions/templates/transactions/transactions.html
Due: biome, prettier, black, djlint

feat: improve envelope select dropdown positioning and rendering
  transactions/static/transactions/js/envelope-select.js
Due: biome, prettier

fix: remove pending status when marking transaction as cleared
  transactions/models.py
  transactions/static/transactions/js/transactions.js
Due: biome, prettier, black

feat: display archived accounts in side menu
  accounts/apis.py
  budgetapp/context_processors.py
  static/js/base.js
  templates/base.html
Due: biome, prettier, black, djlint

feat: improve archived account icon in side menu
  templates/base.html
Due: biome, prettier, djlint

feat: conditionally render archived accounts menu
  templates/base.html
Due: biome, prettier, djlint

feat: add PWA support
  budgetapp/urls.py
  static/manifest.json
  templates/base.html
Due: biome, prettier, black, djlint

feat: use middleware to manage budget cookie
  budgetapp/middleware.py
  budgetapp/settings.py
  settings.py
  transactions/views.py
Due: biome, prettier, black

fix: envelope-select dropdown event listener and close behavior
  transactions/static/transactions/js/envelope-select.js
Due: biome, prettier

refactor: extract transaction search component into partial template
  transactions/templates/transactions/_transaction_search.html
  transactions/templates/transactions/transactions.html
Due: biome, prettier, djlint

feat: implement transaction search suggestions
  transactions/static/transactions/js/envelope-select.js
  transactions/static/transactions/js/transactions.js
  transactions/templates/transactions/_transaction_search.html
Due: biome, prettier, djlint

feat: improve transaction search with enter key handling
  transactions/static/transactions/js/transactions.js
  transactions/templates/transactions/_transaction_search.html
Due: biome, prettier, djlint

feat: add "Split..." option to envelope select component
  transactions/static/transactions/js/envelope-select.js
Due: biome, prettier

feat: improve envelope creation flow with modal dispatch
  envelopes/static/envelopes/js/envelopes.js
  envelopes/templates/envelopes/envelopes.html
Due: biome, prettier, djlint

fix: ensure category balance is updated correctly on envelope save and delete
  envelopes/models.py
  envelopes/static/envelopes/js/envelopes.js
Due: biome, prettier, black

feat: enable mobile app authentication and navigation
  authentication/api.py
  budgetapp/settings.py
  mobile/envelope_budget/lib/envelopes_screen.dart
  mobile/envelope_budget/lib/main.dart
Due: biome, prettier, black

fix: persist base URL and only clear auth data on logout
  mobile/envelope_budget/lib/envelopes_screen.dart
  mobile/envelope_budget/lib/main.dart
Due: biome, prettier

feat: enhance mobile app with budget tabs, transactions, envelopes, and styling
  mobile/envelope_budget/android/settings.gradle
  mobile/envelope_budget/assets/images/eb-logo.svg
  mobile/envelope_budget/lib/add_transaction_screen.dart
  mobile/envelope_budget/lib/budget_tabs_screen.dart
  mobile/envelope_budget/lib/envelopes_screen.dart
  mobile/envelope_budget/lib/main.dart
  mobile/envelope_budget/lib/transactions_screen.dart
  mobile/envelope_budget/macos/Podfile.lock
  mobile/envelope_budget/macos/Runner.xcodeproj/project.pbxproj
  mobile/envelope_budget/macos/Runner.xcworkspace/contents.xcworkspacedata
  mobile/envelope_budget/pubspec.lock
  mobile/envelope_budget/pubspec.yaml
Due: biome, prettier

feat: rename app title to EnvelopeBudget
  mobile/envelope_budget/assets/images/eb-logo.svg
  mobile/envelope_budget/ios/Runner/Info.plist
  mobile/envelope_budget/lib/main.dart
Due: biome, prettier

feat: enhance login screen, budget API, logging, and mobile budget loading
  budgetapp/api.py
  budgetapp/settings.py
  budgets/apis.py
  mobile/envelope_budget/lib/budget_tabs_screen.dart
  mobile/envelope_budget/lib/main.dart
  mobile/envelope_budget/lib/services/api_service.dart
Due: biome, prettier, black

feat: enhance mobile UI, persist budget ID, and improve envelope loading
  envelopes/apis.py
  mobile/envelope_budget/lib/add_transaction_screen.dart
  mobile/envelope_budget/lib/budget_tabs_screen.dart
  mobile/envelope_budget/lib/envelopes_screen.dart
  mobile/envelope_budget/lib/main.dart
Due: biome, prettier, black

feat: pass budget ID to EnvelopesScreen and reload on change
  mobile/envelope_budget/lib/budget_tabs_screen.dart
  mobile/envelope_budget/lib/envelopes_screen.dart
Due: biome, prettier

feat: implement transaction search, sort, summary, and details in mobile app
  mobile/envelope_budget/lib/transactions_screen.dart
Due: biome, prettier

feat: implement quick view mode for envelopes with persistent settings
  mobile/envelope_budget/lib/envelopes_screen.dart
Due: biome, prettier

fix: update dependencies, Dockerfile, and templates
  .vscode/settings.json
  Dockerfile
  clean_docker.sh
  logs/django.log
  mobile/envelope_budget/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  mobile/envelope_budget/lib/main.dart
  mobile/envelope_budget/pubspec.lock
  requirements.in
  requirements.txt
  templates/401.html
  templates/404.html
  templates/500.html
Due: biome, prettier, djlint

fix: correct currency formatting, update dependencies, and improve auth flow
  .gitignore
  Dockerfile
  local_setup.sh
  mobile/envelope_budget/lib/envelopes_screen.dart
  mobile/envelope_budget/lib/main.dart
Due: biome, prettier

feat: integrate transactions API and improve budget selection in mobile app
  .dockerignore
  budgetapp/api.py
  flutter_run.sh
  mobile/envelope_budget/lib/budget_tabs_screen.dart
  mobile/envelope_budget/lib/transactions_screen.dart
  transactions/apis.py
Due: biome, prettier, black

feat: dockerize app with PostgreSQL support, improved entrypoint, and nginx config
  Dockerfile
  budgetapp/settings.py
  entrypoint.sh
  ios_install.sh
  nginx.conf
  requirements.in
  settings.py
Due: biome, prettier, black

feat: implement split transactions with subtransaction support
  AGENT.md
  transactions/apis.py
  transactions/static/transactions/js/envelope-select.js
  transactions/static/transactions/js/transactions.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, black, djlint

fix: improve split transaction handling and UI in transaction form
  .vscode/settings.json
  transactions/apis.py
  transactions/static/transactions/js/transactions.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, black, djlint

chore: refactor transactions.js
  transactions/static/transactions/js/api-functions.js
  transactions/static/transactions/js/search-functions.js
  transactions/static/transactions/js/split-transactions.js
  transactions/static/transactions/js/transaction-operations.js
  transactions/static/transactions/js/transactions.js
  transactions/static/transactions/js/utils.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, djlint

feat: add 403 Forbidden error page
  templates/403.html
Due: biome, prettier, djlint

fix: enhance transaction form, toasts, and Docker setup
  .dockerignore
  AGENT.md
  budgetapp/settings.py
  entrypoint.sh
  static/js/toasts.js
  transactions/apis.py
  transactions/static/transactions/js/transactions.js
  transactions/static/transactions/js/utils.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, black, djlint

feat: implement add transaction screen with API integration
  mobile/envelope_budget/lib/add_transaction_screen.dart
  mobile/envelope_budget/lib/main.dart
Due: biome, prettier

Path conditions:
  biome: any of: *
  prettier: any of: *
  black: any of: *.py
  djlint: any of: *.html
