Repository envelope-budget/backend: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier, black, djlint

biome:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

prettier:
  run: 'npx prettier --write {staged_files}
  
    git add {staged_files}
  
    '

black:
  run: 'black {staged_files}
  
    git add {staged_files}
  
    '

djlint:
  run: 'djlint --reformat {staged_files}
  
    git add {staged_files}
  
    '

feat: update search input class for envelopes and modify keyboard shortcut behavior
  envelopes/templates/envelopes/envelopes.html
  transactions/static/transactions/js/envelope-select.js
  transactions/static/transactions/js/keyboard-shortcuts.js
Due: biome, prettier, djlint

feat: add dynamic balance color classes for envelopes and categories
  envelopes/static/envelopes/js/envelopes.js
  envelopes/templates/envelopes/envelopes.html
Due: biome, prettier, djlint

feat: implement fund transfer between envelopes and quick allocation for negative balances
  envelopes/apis.py
  envelopes/models.py
  envelopes/static/envelopes/js/envelopes.js
  envelopes/templates/envelopes/envelopes.html
Due: biome, prettier, black, djlint

feat: replace memo textarea with input field for improved user experience
  transactions/templates/transactions/transactions.html
Due: biome, prettier, djlint

feat: add functionality for adding, editing, and deleting payees with modal support
  transactions/static/transactions/js/payees.js
  transactions/templates/transactions/_payee_modal.html
  transactions/templates/transactions/payees.html
Due: biome, prettier, djlint

feat: enhance transaction archiving with individual selection and improved UI indicators
  transactions/static/transactions/js/transactions.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, djlint

feat: improve transaction saving and add envelope actions
  envelopes/templates/envelopes/envelopes.html
  transactions/static/transactions/js/transactions.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, djlint

fix: prevent form submission on Enter key when envelope dropdown is closed
  transactions/static/transactions/js/envelope-select.js
Due: biome, prettier

fix: improve transaction import and prevent duplicate entries
  transactions/models.py
Due: biome, prettier, black

feat: implement spending reports with export functionality
  .vscode/settings.json
  budgetapp/api.py
  budgetapp/settings.py
  budgetapp/urls.py
  reports/__init__.py
  reports/admin.py
  reports/apps.py
  reports/migrations/__init__.py
  reports/models.py
  reports/templates/reports/report_list.html
  reports/templates/reports/spending_report.html
  reports/tests.py
  reports/urls.py
  reports/utils.py
  reports/views.py
  requirements.in
  requirements.txt
  templates/base.html
  transactions/templatetags/__init__.py
  transactions/templatetags/transaction_filters.py
Due: biome, prettier, black, djlint

feat: enable transfer functionality and improve payee selection
  reports/utils.py
  transactions/migrations/0009_transaction_is_transfer_transaction_transfer_account_and_more.py
  transactions/models.py
  transactions/static/transactions/js/payee-select.js
  transactions/static/transactions/js/transactions.js
  transactions/templates/transactions/transactions.html
  transactions/urls.py
  transactions/views.py
Due: biome, prettier, black, djlint

fix: improve payee selection and focus handling in transaction form
  transactions/static/transactions/js/payee-select.js
  transactions/static/transactions/js/transactions.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, djlint

feat: enforce unique payee names per budget and handle duplicates
  transactions/apis.py
  transactions/migrations/0010_payee_unique_budget_payee_name.py
  transactions/models.py
Due: biome, prettier, black

feat: enhance envelope management with category creation, editing, and deletion
  envelopes/apis.py
  envelopes/static/envelopes/js/envelopes.js
  envelopes/templates/envelopes/envelopes.html
Due: biome, prettier, black, djlint

refactor: remove `this` context from `showToast` calls in envelopeData
  envelopes/static/envelopes/js/envelopes.js
Due: biome, prettier

feat: improve envelope allocation and sweep updates without full reload
  envelopes/static/envelopes/js/envelopes.js
Due: biome, prettier

feat: update category balances on envelope transfer
  envelopes/apis.py
  envelopes/static/envelopes/js/envelopes.js
Due: biome, prettier, black

fix: change budget_id type to string in get_budget API
  budgets/apis.py
Due: biome, prettier, black

feat: add unallocated envelope to BudgetSchema
  budgets/apis.py
Due: biome, prettier, black

feat: include unallocated envelope balance in transfer funds API response and update UI
  envelopes/apis.py
  envelopes/static/envelopes/js/envelopes.js
Due: biome, prettier, black

feat: implement envelope deletion/archiving with transaction handling
  envelopes/apis.py
  envelopes/models.py
  envelopes/static/envelopes/js/envelopes.js
  envelopes/templates/envelopes/_delete_envelope_confirm_modal.html
  envelopes/templates/envelopes/envelopes.html
Due: biome, prettier, black, djlint

feat: enable editing of existing envelopes
  envelopes/static/envelopes/js/envelopes.js
  envelopes/templates/envelopes/_envelope_modal.html
Due: biome, prettier, djlint

feat: add monthly budget amount to envelopes
  envelopes/apis.py
  envelopes/migrations/0003_envelope_monthly_budget_amount.py
  envelopes/models.py
  envelopes/static/envelopes/js/envelopes.js
  envelopes/templates/envelopes/_envelope_modal.html
  envelopes/templates/envelopes/envelopes.html
Due: biome, prettier, black, djlint

feat: implement budget report with editable monthly allocations and export options
  budgetapp/api.py
  reports/apis.py
  reports/templates/reports/budget_report.html
  reports/templates/reports/report_list.html
  reports/urls.py
  reports/utils.py
  reports/views.py
Due: biome, prettier, black, djlint

feat: implement spending by category report with export options
  reports/apis.py
  reports/templates/reports/spending_by_category_report.html
  reports/urls.py
  reports/utils.py
  reports/views.py
Due: biome, prettier, black, djlint

feat: enhance spending by category report with monthly breakdown
  reports/apis.py
  reports/templates/reports/spending_by_category_report.html
  reports/utils.py
  reports/views.py
Due: biome, prettier, black, djlint

feat: implement envelope allocation feature
  envelopes/static/envelopes/js/envelopes.js
  envelopes/templates/envelopes/envelopes.html
  reports/views.py
Due: biome, prettier, black, djlint

fix: handle decimal amounts correctly in envelope allocation
  envelopes/static/envelopes/js/envelopes.js
Due: biome, prettier

feat: improve budget report UI and envelope allocation
  .vscode/settings.json
  envelopes/apis.py
  envelopes/templates/envelopes/envelopes.html
  reports/templates/reports/budget_report.html
Due: biome, prettier, black, djlint

feat: link debt accounts to envelopes for automated payment tracking
  accounts/models.py
  envelopes/apis.py
  envelopes/migrations/0004_auto_20250605_1113.py
  envelopes/models.py
  transactions/models.py
  transactions/static/transactions/js/envelope-select.js
Due: biome, prettier, black

fix: improve envelope select dropdown behavior and accessibility
  transactions/static/transactions/js/envelope-select.js
Due: biome, prettier

fix: prevent keyboard shortcuts when typing in input fields (except checkboxes)
  transactions/static/transactions/js/keyboard-shortcuts.js
Due: biome, prettier

feat: highlight active page in sidebar navigation
  templates/base.html
Due: biome, prettier, djlint

feat: prepopulate transaction date and improve focus on new transaction
  transactions/static/transactions/js/transactions.js
Due: biome, prettier

fix: correct category order endpoint and UI, remove duplicate endpoint
  envelopes/apis.py
  envelopes/static/envelopes/js/envelopes.js
  envelopes/templates/envelopes/envelopes.html
Due: biome, prettier, black, djlint

feat: randomize background image on login page
  authentication/static/authentication/auth-background1.webp
  authentication/static/authentication/auth-background2.webp
  authentication/static/authentication/auth-background3.webp
  authentication/static/authentication/auth-background4.webp
  authentication/static/authentication/auth-background5.webp
  templates/account/login.html
Due: biome, prettier, djlint

fix: handle potentially missing or invalid amount values in envelope calculations
  envelopes/static/envelopes/js/envelopes.js
Due: biome, prettier

fix: correct envelope transfer logic for negative allocations
  envelopes/static/envelopes/js/envelopes.js
Due: biome, prettier

feat: store envelope balances as integers to avoid floating point errors
  envelopes/static/envelopes/js/envelopes.js
Due: biome, prettier

feat: display envelope balances in budget reports and exports
  reports/apis.py
  reports/templates/reports/budget_report.html
  reports/utils.py
  reports/views.py
Due: biome, prettier, black, djlint

Path conditions:
  biome: any of: *
  prettier: any of: *
  black: any of: *.py
  djlint: any of: *.html
