Repository envelope-budget/backend: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier, black, djlint

biome:
  run: npx biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

prettier:
  run: 'npx prettier --write {staged_files}
  
    git add {staged_files}
  
    '

black:
  run: 'black {staged_files}
  
    git add {staged_files}
  
    '

djlint:
  run: 'djlint --reformat {staged_files}
  
    git add {staged_files}
  
    '

feat(envelopes): add endpoint for categorized envelopes and implement searchable select component
  envelopes/urls.py
  envelopes/views.py
  transactions/static/transactions/js/envelope-select.js
  transactions/static/transactions/js/transactions.js
  transactions/views.py
Due: biome, prettier, black

feat(transactions): replace envelope select with searchable-select component and update keyboard shortcuts
  transactions/static/transactions/js/keyboard-shortcuts.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, djlint

feat(transactions): add bulk archive functionality and in_inbox filter to transactions
  transactions/apis.py
  transactions/migrations/0004_transaction_in_inbox.py
  transactions/models.py
  transactions/static/transactions/js/keyboard-shortcuts.js
  transactions/static/transactions/js/transactions.js
Due: biome, prettier, black

feat(transactions): implement transaction merging functionality and update UI for selected transactions
  transactions/admin.py
  transactions/apis.py
  transactions/migrations/0005_transactionmerge.py
  transactions/models.py
  transactions/static/transactions/js/keyboard-shortcuts.js
  transactions/static/transactions/js/transactions.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, black, djlint

feat(transactions): update transaction merging logic and enhance admin display for deleted transactions
  accounts/models.py
  transactions/admin.py
  transactions/migrations/0006_alter_transaction_unique_together_and_more.py
  transactions/models.py
Due: biome, prettier, black

feat(transactions): enhance searchable select component for envelope selection and add keyboard shortcut for navigation
  transactions/static/transactions/js/envelope-select.js
  transactions/static/transactions/js/keyboard-shortcuts.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, djlint

feat(transactions): add keyboard shortcuts modal and functionality to open it with '?' key
  transactions/static/transactions/js/keyboard-shortcuts.js
  transactions/templates/transactions/_keyboard_shortcuts_modal.html
  transactions/templates/transactions/transactions.html
Due: biome, prettier, djlint

feat(transactions): update keyboard shortcuts button styling for improved visibility
  transactions/templates/transactions/transactions.html
Due: biome, prettier, djlint

feat(transactions): remove approved field from Transaction model and add indexes for improved query performance
  .vscode/settings.json
  transactions/apis.py
  transactions/migrations/0007_remove_transaction_approved.py
  transactions/migrations/0008_transaction_transaction_date_ad8c94_idx_and_more.py
  transactions/models.py
  transactions/search.py
  transactions/search_test.py
  transactions/static/transactions/js/transactions.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, black, djlint

feat(settings): enable offline compression for static files and update entrypoint script to compress static files during deployment
  budgetapp/settings.py
  entrypoint.sh
Due: biome, prettier, black

feat(transactions): modify pullSimpleFINTransactions to accept account_id parameter and update button click handler
  budgetapp/settings.py
  transactions/static/transactions/js/transactions.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, black, djlint

feat(build): clean compressor cache before building Docker image and update script for better readability
  publish_docker.sh
  run
  transactions/static/transactions/js/keyboard-shortcuts.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, djlint

feat(accounts): add sfin_last_imported_on field to Account model and update transaction retrieval logic
  accounts/migrations/0007_account_sfin_last_imported_on.py
  accounts/models.py
  budgets/models.py
Due: biome, prettier, black

feat(transactions): remove approved field from transaction schema and update related logic; enhance account focus handling in edit form
  transactions/apis.py
  transactions/static/transactions/js/transactions.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, black, djlint

feat(payees): streamline unused payees deletion process and enhance loading indicator visibility
  transactions/static/transactions/js/payees.js
  transactions/templates/transactions/payees.html
Due: biome, prettier, djlint

feat(transactions): set editableTransaction account based on active account ID in transaction data function
  transactions/static/transactions/js/transactions.js
Due: biome, prettier

feat(upgrade): add script for updating npm and Python dependencies with branch creation
  upgrade
Due: biome, prettier

feat(upgrade): consolidate dependency update commits into a single commit
  upgrade
Due: biome, prettier

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: biome, prettier

feat(upgrade): ensure unique branch names for dependency updates and improve Python package update process
  upgrade
Due: biome, prettier

chore: update dependencies
  requirements.txt
Due: biome, prettier

feat(upgrade): enhance dependency update script to include pip upgrade and detailed commit message generation
  upgrade
Due: biome, prettier

feat(upgrade): enhance dependency update script to include pip upgrade and detailed commit messages
  upgrade
Due: biome, prettier

fix: correct typo in biome.json for trailingCommas property
  biome.json
Due: biome, prettier

chore: update .prettierignore to include requirements.txt and modify lefthook.yml for biome check command
  .prettierignore
  lefthook.yml
Due: biome, prettier

feat(vendor): add vendorjs.sh script for managing vendor dependencies and update HTML templates to use local scripts
  .prettierignore
  .vscode/settings.json
  biome.json
  envelopes/templates/envelopes/envelopes.html
  package.json
  pnpm-lock.yaml
  static/js/base.js
  static/vendor/alpinejs/cdn.min.js
  static/vendor/emoji-mart/browser.js
  static/vendor/flowbite/datepicker.min.js
  static/vendor/flowbite/flowbite.min.js
  static/vendor/htmx/htmx.min.js
  static/vendor/sortablejs/Sortable.min.js
  templates/base.html
  transactions/templates/transactions/transactions.html
  upgrade
  vendorjs.sh
Due: biome, prettier, djlint

feat: enhance Envelope and Transaction models with unallocated funds management and improve admin interface
  budgets/models.py
  envelopes/admin.py
  envelopes/models.py
  envelopes/static/envelopes/css/envelopes.css
  envelopes/templates/envelopes/envelopes.html
  static/vendor/flowbite/flowbite.min.js
  transactions/models.py
  transactions/static/transactions/js/transactions.js
Due: biome, prettier, black, djlint

feat: add Unallocated Funds management to Budget model and update UI for display
  budgets/models.py
  envelopes/templates/envelopes/envelopes.html
Due: biome, prettier, black, djlint

feat: implement search functionality for envelopes and update UI for unallocated funds display
  envelopes/static/envelopes/js/envelopes.js
  envelopes/templates/envelopes/envelopes.html
Due: biome, prettier, djlint

feat: add inbox management and budget assignment functionality to transactions
  transactions/apis.py
  transactions/models.py
  transactions/static/transactions/js/keyboard-shortcuts.js
  transactions/static/transactions/js/transactions.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, black, djlint

feat: refactor archive functionality and update keyboard shortcuts in UI
  transactions/static/transactions/js/keyboard-shortcuts.js
  transactions/static/transactions/js/transactions.js
  transactions/templates/transactions/_keyboard_shortcuts_modal.html
Due: biome, prettier, djlint

feat: update script inclusion order and remove duplicate Plaid link initialization
  envelopes/templates/envelopes/envelopes.html
  static/vendor/alpinejs/cdn.min.js
  static/vendor/emoji-mart/browser.js
  static/vendor/flowbite/datepicker.min.js
  static/vendor/flowbite/flowbite.min.js
  static/vendor/htmx/htmx.min.js
  static/vendor/sortablejs/Sortable.min.js
  templates/base.html
Due: biome, prettier, djlint

feat: remove restriction on renaming Unallocated Funds envelope
  envelopes/models.py
Due: biome, prettier, black

feat: add filter for unassigned transactions in search functionality
  transactions/search.py
  transactions/templates/transactions/transactions.html
Due: biome, prettier, black, djlint

feat: enhance transaction merging with logging and atomic database operations
  transactions/models.py
Due: biome, prettier, black

feat: improve transaction amount calculation and add error handling notifications
  transactions/static/transactions/js/transactions.js
Due: biome, prettier

feat: add option to update account balances after importing SimpleFIN transactions
  accounts/apis.py
  accounts/models.py
Due: biome, prettier, black

feat: prioritize user-entered payee and memo in transaction processing
  transactions/models.py
Due: biome, prettier, black

Path conditions:
  biome: any of: *
  prettier: any of: *
  black: any of: *.py
  djlint: any of: *.html
