Repository envelope-budget/backend: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier, black, djlint

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: '*'
      run:
        npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index
        --again
    prettier:
      run: |
        npx prettier --write {staged_files}
        git add {staged_files}
      glob: '*'
    black:
      run: |
        black {staged_files}
        git add {staged_files}
      glob: '*.py'
    djlint:
      run: |
        djlint --reformat {staged_files}
        git add {staged_files}
      glob: '*.html'

feat: implement caching and payee autocomplete in add transaction screen
  mobile/envelope_budget/lib/add_transaction_screen.dart
  mobile/envelope_budget/lib/services/cache_service.dart
  mobile/envelope_budget/lib/transactions_screen.dart
Due: biome, prettier

feat: improve transaction details screen and list item UI
  mobile/envelope_budget/lib/transactions_screen.dart
Due: biome, prettier

fix(ios): update display name and remove unused input/output paths
  mobile/envelope_budget/ios/Runner.xcodeproj/project.pbxproj
Due: biome, prettier

feat(mobile): update app name, version, and improve payee merge modal
  mobile/envelope_budget/ios/Runner.xcodeproj/project.pbxproj
  mobile/envelope_budget/pubspec.yaml
  transactions/templates/transactions/payees.html
Due: biome, prettier, djlint

feat: implement account deletion functionality
  accounts/apis.py
  accounts/templates/accounts/_edit_account_form.html
  transactions/static/transactions/js/edit-account.js
Due: biome, prettier, black, djlint

fix: address date input issues and improve split transaction handling
  static/js/base.js
  transactions/static/transactions/js/split-transactions.js
  transactions/static/transactions/js/transactions.js
  transactions/static/transactions/js/utils.js
Due: biome, prettier

feat: enhance split transaction UI and functionality
  AGENT.md
  transactions/static/transactions/js/split-transactions.js
  transactions/static/transactions/js/transactions.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, djlint

feat: display unassigned transactions balance in envelopes UI
  envelopes/apis.py
  envelopes/static/envelopes/js/envelopes.js
  envelopes/templates/envelopes/envelopes.html
  transactions/static/transactions/js/transaction-operations.js
Due: biome, prettier, black, djlint

fix: correctly identify unassigned transactions including those with subtransactions
  envelopes/apis.py
  transactions/search.py
Due: biome, prettier, black

feat: add 'is:split' search filter for transactions with subtransactions
  transactions/search.py
  transactions/static/transactions/js/search-functions.js
  transactions/templates/transactions/_transaction_search.html
Due: biome, prettier, black, djlint

feat: add archived transaction search filter and inbox indicator
  transactions/apis.py
  transactions/static/transactions/js/search-functions.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, black, djlint

feat: implement category deletion with envelope check and UI integration
  envelopes/apis.py
  envelopes/category_apis.py
  envelopes/static/envelopes/js/envelopes.js
  envelopes/templates/envelopes/_delete_category_confirm_modal.html
  envelopes/templates/envelopes/envelopes.html
Due: biome, prettier, black, djlint

feat: allow searching transactions by plain number for amount
  mobile/envelope_budget/devtools_options.yaml
  transactions/search.py
Due: biome, prettier, black

feat: improve unallocated funds and unassigned transactions display in envelopes
  envelopes/templates/envelopes/envelopes.html
Due: biome, prettier, djlint

feat: implement auto theme and improve theme toggle
  static/js/base.js
  templates/base.html
Due: biome, prettier, djlint

feat: improve transaction form focus and default account selection
  transactions/static/transactions/js/transactions.js
Due: biome, prettier

feat: implement account audit report to identify balance discrepancies
  reports/templates/reports/account_audit_report.html
  reports/urls.py
  reports/views.py
Due: biome, prettier, black, djlint

feat: implement duplicate transaction detection and merging
  accounts/models.py
  transactions/apis.py
  transactions/models.py
  transactions/static/transactions/js/duplicate-detection.js
  transactions/static/transactions/js/transaction-operations.js
  transactions/static/transactions/js/transactions.js
  transactions/templates/transactions/transactions.html
Due: biome, prettier, black, djlint
